<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
<main>
<h1>Events List</h1>
    <% for(let i = 0; i < events.length; i++){%>
       <li>
           <img src="<%=events[i].image%>">
           <a href='/events/<%=events[i]._id%>'><%=events[i].title%></a>
           Services Needed: <%=events[i].servicesNeeded[0]%>
        </li>
        <!-- add the host and the services requested here -->
    <%}%>
    <br>

    <a href='/events/new'><button class='btn btn-round'>Create a New Event</button></a>
    
<% include ../partials/footer %>
</main>
</body>
</html>