<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>
    <form action='/events' method='POST'>
        <p>Title:</p>
        <input type='text' name='title'>
        <p>Location:</p>
        <input type='text' name='location'>
        <p>Date & Time:</p>
        <input type='datetime-local' name='date'>
        <p>Description:</p>
        <input type='text' name='description'>
        
        <!-- Test These two below -->
        <p>Services Requested:</p>
        <input type='checkbox' name='<%=services.title%>'>Chef<!--Need to figure out how to tie these in with the schema and show page -->

        <p>Host:</p>
         <input type='text' name='username' value='<%=user.username%>' readonly>



        <p>Budget:</p>
        <input type='number' name='budget'><br><br>
        <button type='submit'>Create New Event</button>
</body>
</html>