<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <form action='/events' method='POST'>
        <p>Title:</p>
        <input type='text' name='title'>
        <p>Location:</p>
        <input type='text' name='location'>
        <p>Date & Time:</p>
        <input type='datetime-local' name='date'>
        <p>Description:</p>
        <input type='text' name='description'>
        
        <!-- Test These two below -->
        <p>Services Requested:</p>
        <!-- <input type="checkbox" name="chefBox"> Chef <br>
        <input type="checkbox" name="bartenderBox"> Bartender -->

        <select multiple name="servicesNeeded">
            <option value=''>None</option>
            <option value="Chef">Chef</option>
            <option value="Bartender">Bartender</option>
        </select><br/>

        <p>Host:</p>
         <input type='text' name='username' value='<%=user.username%>' readonly>

        <p>Budget:</p>
        <input type='number' name='budget'><br><br>

        Image: <input type='text' name='image' value='https://source.unsplash.com/collection/4065723/480x480'>
        <button type='submit'>Create New Event</button>

<% include ../partials/footer %>
</body>
</html>