<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        <h1>Login</h1>
        <form class='form-signin' action="/auth/login" method="POST">
            <%= message %> <br>
            Username: <input type="text" name="username" autocomplete="off"> <br>
            Password: <input type="password" name="password" autocomplete="off"> <br><br>
            <button class='btn btn-round btn-lg' type="submit">Log In</button>
        </form>
        <p><a href='/auth/registerPage'><button class='btn btn-round btn-lg'>Register</button></a></p>
  
    </main>
    <% include ../partials/footer %>
</body>
</html>