<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>

    <header>
            <nav>
                <a href='/'>Home</a>
                <a href='/about'>About</a>
                <a href='/events'>Events</a>
                <a href='/services'>Orderves</a>
            </nav>
    </header>
    <main>
        <h1>Login</h1>
        <form action="/auth/login" method="POST">
            <%= message %> <br>
            Username: <input type="text" name="username" autocomplete="off"> <br>
            Password: <input type="text" name="password" autocomplete="off"> <br>
            <button type="submit">Log In</button>
        </form>
        <p><a href='/auth/registerPage'><button>Register</button></a></p>
        <br>
        <p><a href='/events'>Events Near You</a></p>
        <p><a href='/users'>Orderves Near You</a></p>
    </main>


</body>
</html>