<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        
        <section>
            <h1>Sign Up</h1>
            <form action="/auth/register" method="POST">
                First Name: <input type="text" name="firstname" autocomplete="off"> <br>
                Last Name: <input type="text" name="lastname" autocomplete="off"> <br>
                Username: <input type="text" name="username" autocomplete="off"> <br>
                Password: <input type="password" name="password" autocomplete="off"> <br>
                Email:    <input type="text" name="email" autocomplete="off"> <br>
                Zip Code: <input type="text" name="zipCode" autocomplete="off"> <br>
                <button type="submit">Sign Up</button>
            </form>
        </section>

        <br>

        <section>
            <p><a href='/events'>Events Near You</a></p>
            <p><a href='/users'>Orderves Near You</a></p>
        </section>

    </main>
    <% include ../partials/footer %>
</body>
</html>