<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Orderve</title>
</head>
<body>
    <header>
        <nav>
            <a href='/'>Home</a>
            <a href='/about'>About</a>
            <a href='/events'>Events</a>
            <a href='/users'>Orderves</a>
            <a href='/users'>Profile</a>
        </nav>
    </header>
    <main>
        <h1>About Orderve</h1>
        <h3>Find The Perfect Service For Your Event</h3>
        <h4>Sign Up and Become a Host or an Orderve</h4>
        <p><a href='/events'>Events Near You</a></p>
        <p><a href='/users'>Orderves Near You</a></p>
    </main>
</body>
</html>