<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
    <header>
        <% include ./partials/navbar %>
    </header>
    <main>
        <h1>About Orderve</h1>
        <h3>Find The Perfect Service For Your Event</h3>
        <h4>Sign Up and Become a Host or an Orderve</h4>
        
    </main>
    <% include ./partials/footer %>
</body>
</html>