#heading-text {
    /* ADD A GOOGLE FONT */
    font-size: 70px;
}

img {
    width: 100px;
    height: 100px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* .nav-item {
    padding:10px;
    font-size: 25px;
} */

/* .navbar-nav {
    float:right;
} */

#home-login-buttons {
    display: inline-block;
}

#home-login-buttons form {
    display: inline-block;
}

#orderve-list, #event-list {
    padding: 15px;
    background-color: rgb(243, 243, 243);
}

h2 {
    color:#FF3008;
}

@media only screen and (max-width: 991px) {
    .img-resize {
        width: 70px;
        height: 70px;
    }
}

.nav-link {
    color:#FF3008;
    font-size: 20px;
}