<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/navbar %>
    </header>

    <main>
        <h1>User List</h1>

        <ul>
        <% for(let i=0; i < users.length; i++ ){ %>
            <li>
                <a href="/users/<%=users[i]._id%>"> <%= users[i].username%> </a>
            </li>
        <% } %>
        </ul>

    </main>

    <% include ../partials/footer %>
</body>
</html>