<!DOCTYPE html>
<html>
<head>
   <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <h1>New User</h1>

    <!-- THIS PAGE MAY NOT BE NECESSARY -->
<% include ../partials/footer %>
</body>
</html>