<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        <h1>Make bid for: <%=event.title%></h1>
        <form action="/bids/events/<%=event._id%>" method="POST">
        Service Type:   <select name="title">
                        <% event.servicesNeeded.forEach((service)=>{ %>
                            <option value="<%=service%>"><%=service%></option>
                        <% }) %>
                        </select><br/>
        Bid Amount: <input type="number" name="bidAmount"> <br>
        Message: <input type="text" name="note"> <br>
        <button type="submit">Submit Bid</button>
        </form>
    </main>
    <% include ../partials/footer %>
</body>
</html>