<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<body>
    <header>
        <nav>
            <a href='/'>Home</a>
            <a href='/about'>About</a>
            <a href='/events'>Events</a>
            <a href='/services'>Orderves</a>
            <a href='/users/<%=userId%>'>Profile</a>
        </nav>
    </header>
    <main>
        <h1>Create new skillset/orderve/chef</h1>
        <form action="/services" method="POST">
            Here will be a dropdown showing each type of skill they can choose<br/>
            Job Title: <input type="text" name="title"><br/>
            Description: <input type="text" name="about"><br/>
            Images (URL): <input type="text" name="images"><br/>
            <button type="submit">Create new skillset/chef/orderve</button><br/>
        </form> 
        <a href="/users/<%=userId%>"><button type="submit">Go back to profile</button></a>
       
    </main>

</body>
</html>