<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head %>
</head>
<body>
    <header>
    <% include ../partials/navbar %>
    </header>
    <main>
        <h1>Create new skillset/orderve/chef</h1>
        <form action="/services" method="POST">
            Job Title: <select name="title">
                <option value=''>None</option>
                <option value="Chef">Chef</option>
                <option value="Bartender">Bartender</option>
            </select><br/>
            Description: <input type="text" name="about"><br/>
            Images (URL): <input type="text" name="images"><br/>
            <button type="submit">Create New Offering</button><br/>
        </form> 
        <a href="/users/<%=currentUserId%>"><button type="submit">Go back to profile</button></a>
       
    </main>
    <% include ../partials/footer %>
</body>
</html>