<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head %>
</head>
<body>
    <header>
    <% include ../partials/navbar %>
    </header>
    <main>
        <div class="jumbotron">
            <div class="row">
        
                <div class="col-3"></div>
                <div class="col-6">
                    <form action="/services" method="POST">
                        <h1>Create New Orderve</h1>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-6 col-form-label">Job Title: </label>
                                <input class="form-control" type="text" name="title">
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-6 col-form-label">Description: </label>
                                <input class="form-control" type="text" name="about">
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-6 col-form-label">Image (URL): </label>
                                <input class="form-control" type="text" name="images">
                            </div><br/>
                            <div class="form-group row">
                            <button class="btn btn-round btn-lg" type="submit">Create new Orderve</button><br/>
                            </div>
                            
                    </form> 
                </div>
                <div class="col-3"></div>
            </div>
        </div>
       
       
    </main>
    <% include ../partials/footer %>
</body>
</html>